DB_HOST_TENDER=<S7_DB_HOST>
DB_HOST_CATALOG=<S7_DB_HOST>
DB_HOST=<S7_DB_HOST>
PC2_DB_HOST=<S7_DB_HOST>
DB_PORT_TENDER=5432
DB_PORT_CATALOG=5432
DB_PORT=5432
PC2_DB_PORT=5432
BATCH_SIZE=4
DAEMON_SLEEP_SECONDS=10
DOWNLOAD_PARALLEL=2
POPULATE_BATCH_SIZE=500
DOCUMENT_MAX_LINKS=0
FAILED_UPLOADS_DIR=/data/tender-documents/failed
TMPDIR=/data/tender-documents/temp
TEMP_DIR_MAX_BYTES=107374182400
MEMORY_LIMIT_BYTES=4294967296
ENABLE_OCR=1
ENABLE_OCR_PAGED=1
ENABLE_SMART_EXTRACTION=1
MAX_FRAGMENT_LENGTH=200
SAVE_ORIGINAL_LINES=0
PREFER_STUNNEL_PROXY=0
BYPASS_PROXY_FOR_LARGE_FILES=true
DISABLE_YANDEX_DISK=1
DIRECT_DOWNLOAD_TIMEOUT=300
DOWNLOAD_DELAY_SECONDS=2.0
MAX_DOWNLOAD_RETRIES=3
DB_STATEMENT_TIMEOUT_MS=600000
DB_LOCK_TIMEOUT_MS=60000
WORKER_ID=15
QUEUE_TABLE_SOURCES=reestr_contract_44_fz,reestr_contract_223_fz
DOCUMENT_DOWNLOAD_DIR=/data/tender-documents/downloads-open
OPEN_TENDERS_MIN_DAYS_TO_END=3
QUEUE_POPULATE_LIMIT=10
SALES_WINDOW_MIN_DAYS=90
