[Unit]
Description=S13 console dashboard (server parameters on tty1)
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/chvt 1
ExecStart=/usr/local/bin/s13_dashboard.sh
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Restart=always
RestartSec=5
Nice=5

[Install]
WantedBy=multi-user.target
